@import url('https://cloud.typography.com/6364294/7572592/css/fonts.css');

:root {
  --dark-blue: rgb(0, 98, 161);
  --blue: #007ac9;
  --bus-blue: #0079c9;
  --green: #00985f;
  --purple: #8c4799;
  --orange: #ff6319;
  --light-orange: #ffedf0;
  --teal: #00b2a9;
  --light-blue: #00b9e4;
  --lighter-blue: #bee4f8;
  --lightest-blue: #f3f9fd;
  --pink: #f092cd;
  --light-pink: #f4deea;
  --light-green: #64be1e;
  --lighter-green: #d0e6bd;
  --lightest-green: #eefae6;
  --red: #dc0451;
  --light-red: #fdb3ca;
  --lighter-red: #fff2f5;
  --yellow: #fed100;
  --light-yellow: #ffe87a;
  --lightest-yellow: #fff4da;
  --dark-yellow: #d9a900;
  --darker-grey: #333333;
  --dark-grey: #555555;
  --grey: #777777;
  --light-grey: #aeaeae;
  --lighter-grey: #dfdfdf;
  --lightest-grey: #eaeaea;
  --white-grey: #f5f5f5;

  --disabled-grey: #f8f8f8;

  --font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  line-height: 1.4;
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--dark-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
